html {
  font-size: 36px;
}

/* apply box sizing to ALL elements */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}

.wrapper {
  background-color: white;
  width: 900px;
  margin: auto;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

nav li {
  display: inline-block;
  border-right: 1px solid #333;
  padding: 10px;
  margin: 20px;
}

nav li:nth-child(3) {
  display: none;
}

nav li:last-child {
  border-right: none;
}

.stage {
  width: 900px;
  height: 300px;
  background-color: tomato;
}

.prop {
  width: 100px;
  height: 100px;
  background-color: #333;
  position: relative;
  left: 100px;
  top: 150px;
}

.box {
  height: 100px;
  width: 100px;
  background-color: brown;
  padding: 10px;
  border: 5px dotted black;
  margin: 20px;
}
